<div>
    {{ home }}
    <h1> This is my newly created movie page</h1>
</div>

<!-- <div class="movies-wrapper">
    <div class="movies-container" ng-repeat="movie in movieList">
        <img class="movie-poster" ng-src={{movie.moviPoster}} />
        <span class="movie-title">Title : {{movie.moviTitle}}</span>
        <span class="movie-title">Director : {{movie.moviDirector}}</span>
        <button ng-click="bookMovie(movie)" class="button-color book btn btn-primary ">Book</button>
    </div>
</div> -->